/* Import Google Fonts selected font */
@import "https://fonts.googleapis.com/css?family=Ubuntu";

body, html{
    margin: 0 auto;
    width: 100%;
    font-family: 'Ubuntu',Arial, "Arial Black", "Times New Roman", serif;
}

.container {
    width: 200px;
    height: 260px;
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
.card {
    text-align: center;
    background-color: #66cc99;
    height: 500px;
    width: 300px;
    min-height: 500px;
    min-width: 300px;
    margin-top: 10%;
    margin-left: 40%;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.card div {
    display: block;
    height: 500px;
    width: 300px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card .back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.btn {
    margin-left: 25%;
    height: auto;
    width: 50%;
    text-align: center;
    background: #66cc99;
    display: block;
    font-family: 'Ubuntu', Arial, "Arial Black", "Times New Roman", serif;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.btn:hover {
    text-decoration: none;
}


/* CSS For the rest of the doc*/

.top_label{
    font-family: 'Ubuntu', Arial, "Arial Black", "Times New Roman", serif;
    font-size: 40px;
    color: #ffffff;
}

.generic_label{
    font-family: 'Ubuntu', Arial, "Arial Black", "Times New Roman", serif;
    font-size: 20px;
}