/*
    Map Page CSS
*/


/* Import Google Fonts selected font */
@import "https://fonts.googleapis.com/css?family=Ubuntu";


/* Generic responsive setup for the HTML file */
body, html{
    background-color: azure;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'Ubuntu', Arial, "Arial Black", "Times New Roman", serif;
}

/* Style all the divs and display borders - for now */
/* Some of the IDs are used to override these styles  */

.HEADER_DIV{
    display: flex;
    border: solid 1px #000000;
    width: 100%;
    /* Give the elements a minimum height to conserve styling */
    min-height: 50px;
    text-align: center;
    margin: 0 auto;
    background: #18121E;
    color: #ffffff;
}

.MAIN_DIV{
    display: flex;
    background: #eac67a;
    background: -moz-linear-gradient(top, #eac67a 0%, #e5c07b 53%, #e5c07b 100%);
    background: -webkit-linear-gradient(top, #eac67a 0%,#e5c07b 53%,#e5c07b 100%);
    background: linear-gradient(to bottom, #eac67a 0%,#e5c07b 53%,#e5c07b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eac67a', endColorstr='#e5c07b',GradientType=0 );
    width: 100%;
    /* Give the elements a minimum height to conserve styling */
    min-height: 90%;
    text-align: center;
    margin: 0 auto;
}

.FOOTER_DIV{
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 1px #000000;
    width: 100%;
    /* Give the elements a minimum height to conserve styling */
    min-height: 50px;
    text-align: center;
    margin: 0 auto;
    float: left;
    background: #18121E;
    color: #ffffff;
}

/* ################### */
#div_main_left_panel{
    flex-direction: column;
    max-width: 20%;
    min-width: 300px;
}

#div_map_container{
    flex-direction: column;
    min-width: 400px;
}

#div_main_left_top{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 300px;
    max-height: 400px;
}
#div_main_left_btm{
    width: 100%;
    min-height: 400px;
    max-height: 500px;
}
#map{
    width: 100%;
    height: 99.5%;
}
/*TOP*/
#div_header_slot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*BTM*/
#div_footer_slot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*Scottish outdoor access image*/
#div_info_img_holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    min-width: 140px;
}
#sc_out_acc_img{
    height: auto;
}
/*SOA END*/

/* Walk selector start */
#par_holder_main_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#walks_top_container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center; /* Push btns to the left */
    margin-left: 3px; /* provide spacing */
    width: 100%;
    min-width: 290px;
}
#walks_div_col1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Push btns to the left */
    margin-left: 3px; /* provide spacing */
    width: 50%;
    min-width: 140px;
}
#walks_div_col2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* Push btns to the left */
    margin-right: 3px; /* provide spacing */
    width: 50%;
    min-width: 140px;
}
.walk_sel_btn{
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
    width: 140px;
    min-width: 140px;
    min-height: 30px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Ubuntu', Arial, "Arial Black", "Times New Roman", serif;
    font-size: 16px;
    color: #ffffff;
    border: 1px solid #47231f;
    background: rgb(152,75,67);
    background: -moz-linear-gradient(top, rgba(152,75,67,1) 0%, rgba(152,75,67,1) 41%, rgba(152,75,67,1) 41%, rgba(147,91,87,1) 100%);
    background: -webkit-linear-gradient(top, rgba(152,75,67,1) 0%,rgba(152,75,67,1) 41%,rgba(152,75,67,1) 41%,rgba(147,91,87,1) 100%);
    background: linear-gradient(to bottom, rgba(152,75,67,1) 0%,rgba(152,75,67,1) 41%,rgba(152,75,67,1) 41%,rgba(147,91,87,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#984b43', endColorstr='#935b57',GradientType=0 );
}
#walk_info_div_container{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    background-color: rgba(255,255,255,0.5);
    min-height: 100px;
    max-height: 100px;
    min-width: 100%;
    max-width: 100%;
    overflow-y: scroll;
}
/* Walk selector end */

/* Marker addition START */
#par_holder_sub_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#marker_a_top_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 3px; /* provide spacing */
    width: 100%;
    min-width: 290px;
}
.marker_a_btn{
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
    width: 140px;
    min-width: 140px;
    min-height: 30px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Ubuntu', Arial, "Arial Black", "Times New Roman", serif;
    font-size: 16px;
    color: #ffffff;
    border: 1px solid #47231f;
    background: rgb(152,75,67);
    background: -moz-linear-gradient(top, rgba(152,75,67,1) 0%, rgba(152,75,67,1) 41%, rgba(152,75,67,1) 41%, rgba(147,91,87,1) 100%);
    background: -webkit-linear-gradient(top, rgba(152,75,67,1) 0%,rgba(152,75,67,1) 41%,rgba(152,75,67,1) 41%,rgba(147,91,87,1) 100%);
    background: linear-gradient(to bottom, rgba(152,75,67,1) 0%,rgba(152,75,67,1) 41%,rgba(152,75,67,1) 41%,rgba(147,91,87,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#984b43', endColorstr='#935b57',GradientType=0 );
}
#marker_upload_links_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 3px; /* provide spacing */
    width: 100%;
    min-width: 290px;
}
.upload_image_logo{
    margin-right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    background-color: #fff;
    border: 2px solid #fff;
}
.upload_image_logo:hover{
    opacity: 0.5;
}
.marker_a_text_input{
    color: #ffffff;
    font-family: 'Ubuntu', Arial, "Arial Black", "Times New Roman", serif;
    font-size: 20px;
    width: 85%;
    background-color: #261d30;
    border: 1px solid #984B43;
}
/* Marker addition END */

/* Custom Scrollbars code START */

::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border: 0 none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #aeb4f9;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: #000000;
    border: 0 none #ffffff;
    border-radius: 61px;
}
::-webkit-scrollbar-track:hover {
    background: #000000;
}
::-webkit-scrollbar-track:active {
    background: #329a9a;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

/* Custom Scrollbars code END */
