    <footer>
        <section>
            <h3><b>Go Portlethen</b></h3>
            <p>
                <b>
                    0000-000-0000<br /><br />
                    email@gmail.com
                </b>
            </p>
        </section>
        <section>
            <h3>LET'S GET CONNECTED</h3>
            <ul class="social">
                <li><a href="#"><img src="../assets/icons/facebook1.png" onmouseover="this.src='../assets/icons/facebook2.png'" onmouseout="this.src='../assets/icons/facebook1.png'" /></a></li>
                <li><a href="#"><img src="../assets/icons/twitter1.png" onmouseover="this.src='../assets/icons/twitter2.png'" onmouseout="this.src='../assets/icons/twitter1.png'" /></a></li>
                <li><a href="#"><img src="../assets/icons/insta1.png" onmouseover="this.src='../assets/icons/insta2.png'" onmouseout="this.src='../assets/icons/insta1.png'" /></a></li>
            </ul>
        </section>
<!--         <section>
            <a href="#"><img id="gpmap" src="#" /></a>
        </section> -->
    </footer>
    <footer id="second">
        <p>©Copyright TMR 2016</p>
    </footer>
</body>
</html>