    <footer>
        <section>
            <h3><b>Go Portlethen</b></h3>
            <p>
                <b>
                    0000-000-0000<br /><br />
                    email@gmail.com
                </b>
            </p>
        </section>
        <section>
            <h3>LET'S GET CONECTED</h3>
            <ul class="social">
                <li><a href="#"><img src="#" onmouseover="this.src='#'" onmouseout="this.src='#'" /></a></li>
                <li><a href="#"><img src="#" onmouseover="this.src='#'" onmouseout="this.src='#'" /></a></li>
                <li><a href="#"><img src="#" onmouseover="this.src='#'" onmouseout="this.src='#'" /></a></li>
            </ul>
        </section>
        <section>
            <a href="#"><img id="gpmap" src="#" /></a>
        </section>
    </footer>
    <footer id="second">
        <p>©Copyright TMR 2016</p>
    </footer>
</body>
</html>