<div class="bar">
    <div id="logo"><a href="index.html"><h3>GP</h3></a></div>
    </div>
<nav>
    <div id="menu" class="menu"></div>
    <span class="linee linea1"></span>
    <span class="linee linea2"></span>
    <span class="linee linea3"></span>
    <div class="menu-links">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Clubs</a></li>
            <li><a href="#">Map</a></li>
            <li><a href="#">Admin</a></li>
        </ul>
    </div>
</nav>

<script src="http://code.jquery.com/jquery-3.1.0.slim.min.js"></script>
<script type="text/javascript" src="scripts/menu.js"></script>