/*
    Main Page CSS
*/

/* Import Google Fonts selected font */
@import "https://fonts.googleapis.com/css?family=Ubuntu";


/* Generic responsive setup for the HTML file */
body, html{
    background-color: #EAC67A;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Ubuntu', Arial, "Arial Black", "Times New Roman", serif;
}

/* Style all the divs and display borders - for now */
/* Some of the IDs are used to override these styles  */

.HEADER_DIV{
    display: flex;
    border: solid 1px #000000;
    width: 100%;
    /* Give the elements a minimum height to conserve styling */
    min-height: 50px;
    text-align: center;
    margin: 0 auto;
    background: #4c4c4c;
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
    color: #ffffff;
}

.MAIN_DIV{
    display: flex;
    background: #eac67a;
    background: -moz-linear-gradient(top, #eac67a 0%, #e5c07b 53%, #e5c07b 100%);
    background: -webkit-linear-gradient(top, #eac67a 0%,#e5c07b 53%,#e5c07b 100%);
    background: linear-gradient(to bottom, #eac67a 0%,#e5c07b 53%,#e5c07b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eac67a', endColorstr='#e5c07b',GradientType=0 );
    width: 100%;
    /* Give the elements a minimum height to conserve styling */
    min-height: 100px;
    text-align: center;
    margin: 0 auto;
}

.FOOTER_DIV{
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 1px #000000;
    width: 100%;
    /* Give the elements a minimum height to conserve styling */
    min-height: 50px;
    text-align: center;
    margin: 0 auto;
    float: left;
    background: #4c4c4c;
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
    color: #ffffff;
}

/* Some elements need to be above/below others */
#div_main_slot_left{
    /* WIDTH OVERRIDE */
    flex-direction: column;
}

/* Some elements need to float to the right of the container */
#div_main_slot_right{
    /* WIDTH OVERRIDE */
    flex-direction: column;
}

#div_main_slot_left_clubs{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    max-height: 600px;
}
#div_main_slot_left_filter{
    display: flex;
    flex-direction: row;
    height: 10%;
}

/* Clubs container CSS START */

.clubs_container_btn {
    display: block;
    height: auto;
    width: 80%;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    background-color: #984B43;
    border: 1px solid #47231f;
    text-decoration: none;
}
.clubs_container_btn:hover {
    background-color: #6a352f;
}
.clubs_container_img_lg{
    margin-top: 5px;
    margin-left: 5px;
    width: 140px;
    height: 140px;
}
.clubs_container_li{
    background-color: #efd39a;
    border-radius: 20px;
    border: 1px solid #f5e3bd;
    display: block;
    width: 100%;
    min-width: 70%;
    margin: auto;
    height: 150px;
}
.clubs_container_int_d_btn{
    display: block;
    float: left;
    width: 100%;
}
.clubs_container_container_d{
    background: #eac67a;
    background: -moz-linear-gradient(top, #eac67a 0%, #e5c07b 53%, #e5c07b 100%);
    background: -webkit-linear-gradient(top, #eac67a 0%,#e5c07b 53%,#e5c07b 100%);
    background: linear-gradient(to bottom, #eac67a 0%,#e5c07b 53%,#e5c07b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eac67a', endColorstr='#e5c07b',GradientType=0 );
    overflow-x: hidden;
    width: 100%;
    overflow-y: scroll;
}
.clubs_container_ul{
    /* PERFECT CENTERING */
    display: flex;              !important;
    justify-content: center;    !important;
    align-content: center;      !important;
    /* PERFECT CENTERING */
    flex-direction: column;
    margin-left: 0;
    width: 90%;
}
.clubs_container_li_left_d{
    float: left;
    width: 20%;
}
.clubs_container_li_main_d{
    margin-left: 50px;
    float: left;
    width: 70%;
}
.clubs_container_int_d_top{
    /* PERFECT CENTERING */
    display: flex;                  !important;
    justify-content: flex-start;    !important;
    align-content: center;          !important;
    /* PERFECT CENTERING */
    flex-direction: row;
}
.clubs_container_int_d_btn{
    min-width: 50px;
    display: flex;                  !important;
    flex-direction: row;            !important;
    align-content: flex-end;        !important;
    align-self: flex-end;           !important;
    /* PERFECT CENTERING */
}

/* Clubs container CSS END */

/* Custom Scrollbars code START */

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #aeb4f9;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 61px;
}
::-webkit-scrollbar-track:hover {
    background: #000000;
}
::-webkit-scrollbar-track:active {
    background: #329a9a;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

/* Custom Scrollbars code END */


/* Filter buttons code START */
/* ######################### */
/* style the actual buttons */
.filter_buttons_btn{
    text-decoration: none;
    text-align: center;
    width: 100px;
    min-width: 100px;
    min-height: 35px;
    height: 40px;
    padding-top: 10px;
    font-family: 'Ubuntu', Arial, "Arial Black", "Times New Roman", serif;
    font-size: 25px;
    color: #ffffff;
    background-color: #984B43;
    border: 1px solid #47231f;
    margin-right: 50px;
    margin-bottom: 20px;
}
.filter_buttons_btn:hover{
    text-decoration: none;
    background-color: #6a352f;
}
/* style the container */
.filter_buttons_main_container{
    background: #eac67a;
    background: -moz-linear-gradient(top, #eac67a 0%, #e5c07b 53%, #e5c07b 100%);
    background: -webkit-linear-gradient(top, #eac67a 0%,#e5c07b 53%,#e5c07b 100%);
    background: linear-gradient(to bottom, #eac67a 0%,#e5c07b 53%,#e5c07b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eac67a', endColorstr='#e5c07b',GradientType=0 );
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: flex;
}
.filter_buttons_row{
    width: 100%;
    margin-top: auto;
    /* PERFECT CENTERING */
    display: flex;              !important;
    justify-content: center;    !important;
    align-content: center;      !important;
    /* PERFECT CENTERING */
}
/* Filter buttons code END */

/* Search text box & btn code START */
#div_main_slot_right_search{

}
.search_text_box{
    /* PERFECT CENTERING */
    display: flex;              !important;
    justify-content: center;    !important;
    align-content: center;      !important;
    /* PERFECT CENTERING */
    min-width: 50%;
    max-width: 50%;
    min-height: 50px;
    max-height: 50px;
    color: #ffffff;
    font-family: 'Ubuntu', Arial, "Arial Black", "Times New Roman", serif;
    font-size: 20px;
    background-color: #261d30;
    border: 1px solid #984B43;
}
.search_button_btn{

}
/* Search text box & btn code END */