/*
    Main Page CSS
*/


/* Generic responsive setup for the HTML file */
body, html{
    background-color: azure;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

/* Style all the divs and display borders - for now */
/* Some of the IDs are used to override these styles  */

.HEADER_DIV{
    border: solid 1px #000000;
    width: 100%;
    /* Give the elements a minimum height to conserve styling */
    min-height: 150px;
    text-align: center;
    margin: 0 auto;
}

.MAIN_DIV{
    border: solid 1px #000000;
    width: 100%;
    /* Give the elements a minimum height to conserve styling */
    min-height: 300px;
    text-align: center;
    margin: 0 auto;
}

.FOOTER_DIV{
    border: solid 1px #000000;
    width: 100%;
    /* Give the elements a minimum height to conserve styling */
    min-height: 100px;
    text-align: center;
    margin: 0 auto;
    float: left;
}

/* Some elements need to be above/below others */
#div_main_slot_left{
    /* WIDTH OVERRIDE */
    width: 50%;
    float: left;
    margin: 0 auto;
}

/* Some elements need to float to the right of the container */
#div_main_slot_right_bottom{
    /* WIDTH OVERRIDE */
    width: 50%;
    float: right;
}