/* line 249, ../sass/style.scss */
ul.social li {
  display: inline;
}
/* line 251, ../sass/style.scss */
ul.social li img {
  height: 60px;
}

/* line 256, ../sass/style.scss */
footer {
  background: #333333;
  width: 100%;
  overflow: hidden;
  opacity: 0.90;
}
/* line 261, ../sass/style.scss */
footer p, footer h3, footer a {
  color: #FFF;
  text-decoration: none;
}

/* line 267, ../sass/style.scss */
#second {
  border-top: 1px solid #4D4E50;
  background-color: #333333;
  max-height: 50px;
  text-align: center;
  opacity: 0.95;
}

section {
  width: 29%;
  float: left;
  margin: 2% 2%;
  text-align: center;
}

@media screen and (max-width: 478px) {
  section {
    float: left;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 0;
  }
}