.bar {
  position: fixed;
  height: 40px;
  width: 100%;
  background: #5F5F5F;
  z-index: 4;
  top: 0;
}

/* line 45, ../sass/style.scss */
nav {
  background-color: transparent;
  position: fixed;
  width: 340px;
  height: 100%;
  top: 0px;
  right: 0px;
  overflow: hidden;
  z-index: 5;
}

/* line 56, ../sass/style.scss */
.menu, .linee {
  cursor: pointer;
}

/* line 60, ../sass/style.scss */
.menu {
  float: right;
  margin: 15px 15px 0 0;
  height: 49px;
  width: 49px;
  border-radius: 50%;
  background-color: #6BBAA7;
  border: none;
  transition: all 0.40s ease-out;
}

/* line 71, ../sass/style.scss */
.over {
  transform: scale(100);
  transition: all 0.350s ease-in;
  cursor: default;
}

/* line 77, ../sass/style.scss */
.linea1 {
  background: #fff;
  height: 2px;
  width: 15px;
  position: absolute;
  right: 33px;
  top: 33px;
  transition: all 0.3s;
}

/* line 83, ../sass/style.scss */
.linea2 {
  background: #fff;
  height: 2px;
  width: 15px;
  position: absolute;
  right: 33px;
  top: 38px;
  opacity: 1;
  transition: opacity 0.5s;
}

/* line 90, ../sass/style.scss */
.linea3 {
  background: #fff;
  height: 2px;
  width: 15px;
  position: absolute;
  right: 33px;
  top: 43px;
}

/* line 95, ../sass/style.scss */
.overL1 {
  animation: closetop 1s forwards;
  animation-direction: alternate;
  cursor: pointer;
}

/* line 101, ../sass/style.scss */
.overL2 {
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
}

/* line 107, ../sass/style.scss */
.overL3 {
  animation: closebottom 1s forwards;
  animation-direction: alternate;
  cursor: pointer;
}

/* line 113, ../sass/style.scss */
#logo {
  float: left;
  margin: 15px 0 0 15px;
  height: 49px;
  width: 49px;
  border-radius: 5px 20px 5px;
  background-color: #286DA8;
  color: white;
  border: none;
  transition: all 0.40s ease-out;
}
/* line 123, ../sass/style.scss */
#logo h3 {
  margin: 12px 0 0 12px;
  font-family: 'Arial';
}
/* line 127, ../sass/style.scss */
#logo a {
  text-decoration: none;
  color: white;
}

@keyframes closetop {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  25% {
    transform: translateY(5px) rotate(0deg);
  }
  75% {
    transform: translateY(5px) rotate(-45deg);
  }
  100% {
    transform: translateY(5px) rotate(-45deg);
  }
}
@keyframes closebottom {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  25% {
    transform: translateY(-5px) rotate(0deg);
  }
  75% {
    transform: translateY(-5px) rotate(45deg);
  }
  100% {
    transform: translateY(-5px) rotate(45deg);
  }
}
/* line 163, ../sass/style.scss */
.menu-links {
  visibility: hidden;
  position: absolute;
  right: 50px;
  top: 160px;
  opacity: 0;
  transition: all 0.300s;
  transition-delay: 0s;
}
/* line 171, ../sass/style.scss */
.menu-links ul {
  list-style-type: none;
}
/* line 172, ../sass/style.scss */
.menu-links li {
  margin: 20px 0px;
}
/* line 173, ../sass/style.scss */
.menu-links li a {
  float: right;
  font-size: 150%;
  text-decoration: none;
  color: white;
  margin-top: 20px;
}
/* line 179, ../sass/style.scss */
.menu-links li a:hover {
  opacity: 0.7;
}

/* line 184, ../sass/style.scss */
.overmain {
  visibility: visible;
  opacity: 1;
  transition: all 0.400s;
  transition-delay: 0.370s;
}