@import "https://fonts.googleapis.com/css?family=Coda";
@import "navbar.css";
@import "footer.css";
@import "club.css";
@import "events.css";

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Coda', cursive;
  background-color: #fafafa;
}

h1 {
  text-align: center;
  font-size: 180%;
  line-height: 120%;
  padding: 5% 0;
  color: #7d7d7d;
}

h3 {
  line-height: 110%;
  padding: 5% 0;
}

p {
  padding: 1%;
  color: #4f4f4f;
}

header {
  background: url("../assets/images/black.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
}

.buttons-container {
  padding-left: 5%;
  display: -webkit-flex;
  display: flex;
}

.button {
  background-color: #a6a6a6;
  size: 5%;
  padding: 1.5%;
  margin: 0.5%;
  margin-top: 0;
  text-align: center;
  border-radius: 2%;
}

.button:hover {
  background-color: #6BBAA7;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -ms-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.button a {
  font-size: 15px;
  text-decoration: none;
  color: #4f4f4f;
}

.container {
  height: 150px;
}

.flexi {
  height: auto;
}

.header-intro {
  text-align: center;
  color: white;
  font-size: 200%;
  max-width: 728px;
  margin: auto;
}

.header-intro::before {
  content: "";
  margin-right: 10px;
}

input[type=submit] {
    width: 100%;
    background-color: #8E50A0;
    color: white;
    padding: 14px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover , input[type=reset]:hover{
    background-color: #5D3C86;
}

@media screen and (max-width: 478px) {
  body {
    position: absolute;
  }

  .header-intro {
    font-size: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }

  section {
    float: left;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 0;
  }

  header {
    padding-top: 70%;
    padding-bottom: 70%;
  }

  .button {
    padding: 4% 2%;
  }
}
